<div class="well well-sm" style="margin-bottom:0 !important;">
    <p>{% trans %}mautic.plugin.outlook.url{% endtrans %}</p>
    <div class="alert alert-warning">
        {% trans %}mautic.plugin.outlook.public_info{% endtrans %}
    </div>
    <input type="text" readonly="readonly" onclick="this.setSelectionRange(0, this.value.length);" value="{{ mauticUrl }}" class="form-control">
</div>